<div class="animated fadeIn">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Agent</strong>
          <small>Form</small>
        </div>
        <div class="card-block">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="company">Company Name</label>
            <input type="text" class="form-control" id="company" placeholder="Company name">
          </div>
          <div class="form-group col-md-6">
            <label for="roc">Company Reg. No</label>
            <input type="text" class="form-control" id="roc" placeholder="email@domain.com">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="gst">GST ID</label>
            <input type="text" class="form-control" id="gst" placeholder="004325643213">
          </div>
          <div class="form-group col-md-6">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Enter street name">
          </div> 
        </div>

        <div class="row">
            <div class="form-group col-sm-8">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter your city">
            </div>
            <div class="form-group col-sm-4">
              <label for="postal-code">Postal Code</label>
              <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
            </div>
          </div>
          <!--/.row-->
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state">
            <option value="">-All State-</option>
            <option value="1">Johor</option>
            <option value="2">Kedah</option>
            <option value="3">Kelantan</option>
            <option value="4">Kuala Lumpur</option>
            <option value="5">Melaka</option>
            <option value="6">Negeri Sembilan</option>
            </select>
          </div>

          <div class="form-group row">
              <label class="col-md-3 form-control-label">Type</label>
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Agency
                </label>
                <label class="radio-inline" for="inline-radio2">
                  <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Repo
                </label>
                <label class="radio-inline" for="inline-radio3">
                  <input type="radio" id="inline-radio3" name="inline-radios" value="option3"> Both
                </label>
              </div>
            </div>

          
          
          

          <div class="form-group">
            <label for="phone">Gen Line</label>
            <input type="text" class="form-control" id="phone" placeholder="0312345678">
          </div>

          <div class="form-group">
            <label for="fax">Fax</label>
            <input type="text" class="form-control" id="fax" placeholder="0312345678">
          </div>

          <div class="form-group">
            <label for="email">Company Email</label>
            <input type="email" class="form-control" id="email" placeholder="companyemail@domain.com">
          </div>

          <div class="form-group">
            <label for="ceo">CEO Name</label>
            <input type="text" class="form-control" id="ceo" placeholder="CEO Name">
          </div>

          <div class="form-group">
            <label for="ceoemail">CEO Email</label>
            <input type="email" class="form-control" id="ceoemail" placeholder="CEO email">
          </div>

          <div class="form-group">
            <label for="ceophone">CEO Phone No</label>
            <input type="text" class="form-control" id="ceophone" placeholder="CEO phone">
          </div>

          <div class="form-group">
            <label for="pic">PIC</label>
            <input type="text" class="form-control" id="pic" placeholder="PIC Name">
          </div>

          <div class="form-group">
            <label for="PICemail">PIC Email</label>
            <input type="email" class="form-control" id="PICemail" placeholder="email@domain.com">
          </div>
          
          <div class="form-group">
            <label for="picphone">PIC Phone No</label>
            <input type="text" class="form-control" id="picphone" placeholder="0123456789">
          </div>  

          <div class="form-group">
            <label for="username">Login Username</label>
            <input type="text" class="form-control" id="username" placeholder="username">
          </div>
          
          <div class="form-group">
            <label for="password">Login Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>

          <input type="submit" name="submit" class="btn btn-success btn-sm" value="Save">
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
   
</div>
