<div class="animated fadeIn">
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Customer Profile
        </div>
        <div class="card-block">
         
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody> 
              <tr> 
                <td>Name</td>
                <td>John Doe</td> 
              </tr> 
              <tr> 
                <td>New IC No</td>
                <td>800809106471</td> 
              </tr>
              <tr> 
                <td>Old IC No</td>
                <td>-</td> 
              </tr> 

              <tr> 
                <td>Gender</td>
                <td>Male</td> 
              </tr> 
              <tr> 
                <td>Religion</td>
                <td>-</td> 
              </tr> 
              <tr> 
                <td>Address</td>
                <td>No 232, Jalan 3, Taman Putra Perdana, 34234 Puchong Selangor</td> 
              </tr> 
              <tr> 
                <td>Phone No</td>
                <td>03 5123 4567</td> 
              </tr> 
              <tr> 
                <td>Mobile No</td>
                <td>012 1234 567</td> 
              </tr> 
              <tr> 
                <td>Spouse</td>
                <td>Anne Lee</td> 
              </tr> 
              <tr> 
                <td>Spouse IC</td>
                <td>800102109089</td> 
              </tr>
              <tr> 
                <td>Spouse Phone No</td>
                <td>012 3456 789</td> 
              </tr> 

              <tr> 
                <td>Spouse Phone No</td>
                <td>012 3456 789</td> 
              </tr> 
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Debt Info
        </div>
        <div class="card-block">
         
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody>

              <tr> 
                <td>Agency</td>
                <td>Euro Prestasi</td> 
              </tr> 

              <tr> 
                <td>Loan ID</td>
                <td>8554346346</td> 
              </tr> 
              <tr> 
                <td>Agreement ID</td>
                <td>42354653645</td> 
              </tr>  
              <tr> 
                <td>Product</td>
                <td>UCEP</td> 
              </tr> 
              <tr> 
                <td>Outstanding Balance</td>
                <td>RM 1101</td> 
              </tr> 
              <tr> 
                <td>Interest</td>
                <td>RM 87</td> 
              </tr> 

              <tr> 
                <td>Charge</td>
                <td>RM 217</td> 
              </tr> 

              <tr> 
                <td>Total</td>
                <td>RM 1405</td> 
              </tr> 

               
              <tr> 
                <td>Status</td>
                <td><span class="badge badge-success">N/A</span></td> 
              </tr>  
              
              
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Guarantor Info
        </div>
        <div class="card-block">
         
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody>

              <tr> 
                <td>Name</td>
                <td>Micheal Angelo</td> 
              </tr> 

              <tr> 
                <td>IC No</td>
                <td>8354346346</td> 
              </tr> 
              <tr> 
                <td>Old IC No</td>
                <td>-</td> 
              </tr>
              <tr> 
                <td>Phone No</td>
                <td>0378787878</td> 
              </tr>  
              <tr> 
                <td>Mobile No</td>
                <td>0123456788</td> 
              </tr> 
              <tr> 
                <td>Relation</td>
                <td>Brother</td> 
              </tr> 
               
              
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Current Employment Info
        </div>
        <div class="card-block">
         
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody>
 

              <tr> 
                <td>Employer</td>
                <td>123 Sdn Bhd</td> 
              </tr> 

              <tr> 
                <td>Address</td>
                <td>No 1, Jalan 4, Seksyen 7, Kota Damansara<br/>23239, Petaling Jaya<br/>Selangor.</td> 
              </tr> 
              <tr> 
                <td>Phone No</td>
                <td>0356567875</td> 
              </tr>
              <tr> 
                <td>Fax</td>
                <td>0378787878</td> 
              </tr>  
              <tr> 
                <td>Email</td>
                <td>-</td> 
              </tr> 
              <tr> 
                <td>Since</td>
                <td>02-01-2015</td> 
              </tr> 
               
              
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->
</div>
