<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              
            </div>
          </div>
          <h4 class="mb-0">294,434</h4>
          <p>Customer</p>
        </div>
        <div class="chart-wrapper px-1" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-info">
        <div class="card-block pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <h4 class="mb-0">539,823</h4>
          <p>Revenue</p>
        </div>
        <div class="chart-wrapper px-1" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-warning">
        <div class="card-block pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">892</h4>
          <p>Agent</p>
        </div>
        <div class="chart-wrapper" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-danger">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">1932</h4>
          <p>Today Payment</p>
        </div>
        <div class="chart-wrapper px-1" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Revenue</h4>
          <div class="small text-muted">July 2017</div>
        </div><!--/.col-->
        <div class="col-sm-7 hidden-sm-down">


          <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group">
              <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="option1"> Day
              </label>
              <label class="btn btn-outline-secondary active">
                <input type="radio" name="options" id="option2" checked> Month
              </label>
              <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="option3"> Year
              </label>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <div class="text-muted">PF</div>
          <strong>29,703 Paid (40%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="hidden-sm-down">
          <div class="text-muted">UCEP</div>
          <strong>24,093 Paid (20%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li>
          <div class="text-muted">GEP</div>
          <strong>78,706 Paid (60%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="hidden-sm-down">
          <div class="text-muted">MEP</div>
          <strong>22,123 Paid (80%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li> 
      </ul>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Payment Channel Performance (28 July 2017)
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
               
                <div class="card">
      <div class="card-header">
        Payment Channel
         
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div> 
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-6">
               
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">MEP</small>
                    <br>
                    <strong class="h4">9,123</strong>
                    <div class="chart-wrapper" style="width:100px;height:30px;">
                      <canvas baseChart class="chart"
                      [datasets]="sparklineChartData1"
                      [labels]="sparklineChartLabels"
                      [options]="sparklineChartOptions"
                      [colors]="sparklineChartInfo"
                      [legend]="sparklineChartLegend"
                      [chartType]="sparklineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-12">
                  <div class="callout callout-danger">
                    <small class="text-muted">UCEP</small>
                    <br>
                    <strong class="h4">22,643</strong>
                    <div class="chart-wrapper" style="width:100px;height:30px;">
                      <canvas baseChart class="chart"
                      [datasets]="sparklineChartData2"
                      [labels]="sparklineChartLabels"
                      [options]="sparklineChartOptions"
                      [colors]="sparklineChartDanger"
                      [legend]="sparklineChartLegend"
                      [chartType]="sparklineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-warning">
                    <small class="text-muted">PF</small>
                    <br>
                    <strong class="h4">1023</strong>
                    <div class="chart-wrapper" style="width:100px;height:30px;">
                      <canvas baseChart class="chart"
                      [datasets]="sparklineChartData1"
                      [labels]="sparklineChartLabels"
                      [options]="sparklineChartOptions"
                      [colors]="sparklineChartWarning"
                      [legend]="sparklineChartLegend"
                      [chartType]="sparklineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-12">
                  <div class="callout callout-success">
                    <small class="text-muted">GEP</small>
                    <br>
                    <strong class="h4">647</strong>
                    <div class="chart-wrapper" style="width:100px;height:30px;">
                      <canvas baseChart class="chart"
                      [datasets]="sparklineChartData2"
                      [labels]="sparklineChartLabels"
                      [options]="sparklineChartOptions"
                      [colors]="sparklineChartSuccess"
                      [legend]="sparklineChartLegend"
                      [chartType]="sparklineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <ul class="horizontal-bars type-2">
                <li>
                  <i class="icon-user"></i>
                  <span class="title">Male</span>
                  <span class="value">43%</span>
                  <div class="bars">
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
                <li>
                  <i class="icon-user-female"></i>
                  <span class="title">Female</span>
                  <span class="value">37%</span>
                  <div class="bars">
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 37%" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li> 
                  
              </ul>
            </div><!--/.col-->
           
          </div><!--/.row-->
          <br>
</div>  
</div>
</div>  
</div>


<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Collection Agency (28 July 2017)
        </div>
        <div class="card-block">          
          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Agency Name</th> 
                <th>Collection Ratio</th>
                <th>Total Collected</th>
                <th>Total Assignment</th>
                <th>Assignment Amount</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Agency 123 Sdn Bhd</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td>
                
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>6.8%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 6.8%" aria-valuenow="6.8" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM7390
                </td>
                <td>
                  3422
                </td>
                <td>
                  RM323422
                </td>
                 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" src="assets/img/avatars/2.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Data Net Sdn Bhd</div>
                  <div class="small text-muted">
Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>5.98%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 5.98%" aria-valuenow="5.98" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM6990
                </td>
                <td>
                  4323
                </td>
                <td>
                  RM343422
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Ad Solutions</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>4.4%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 4.4%" aria-valuenow="4.4" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM6570
                </td>
                <td>
                  3622
                </td>
                <td>
                  RM343122
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-default"></span>
                  </div>
                </td>
                <td>
                  <div>Kamal Hashim Enteprise</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>4.58%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 4.58%" aria-valuenow="4.58" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM6190
                </td>
                <td>
                  3122
                </td>
                <td>
                  RM313422
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Credit 123 Sdn Bhd</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>3.92%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 3.92%" aria-valuenow="3.92" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM4602
                </td>
                <td>
                  3602
                </td>
                <td>
                  RM303972
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>David Nicolas</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>3.12%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 3.12%" aria-valuenow="3.12" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  RM4026
                </td>
                <td>
                  3124
                </td>
                <td>
                  RM333422
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Repo Agency (28 July 2017)
        </div>
        <div class="card-block">          
          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Agency Name</th> 
                <th>Repossessed Ratio</th>
                <th>Total Repossessed</th>
                <th>Total Requested</th>
                <th>OSB Value</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Kaki Tarik Sdn Bhd</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td>
                
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>45.83%</strong> 


                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 45.83%" aria-valuenow="45.83" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  11
                </td>
                <td>
                  24
                </td>
                <td>
                  RM21900
                </td>
                 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" src="assets/img/avatars/2.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Andy Lau</div>
                  <div class="small text-muted">
Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>47.37%</strong>

                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 47.37%" aria-valuenow="47.37" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  9
                </td>
                <td>
                  19
                </td>
                <td>
                  RM12232
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Repo Enterprise</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>36.36%</strong>
                    </div>

                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 36.36%" aria-valuenow="36.36" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  8
                </td>
                <td>
                  22
                </td>
                <td>
                  RM11890
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-default"></span>
                  </div>
                </td>
                <td>
                  <div>Abd Samad Ali</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>30.43%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>

                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 30.43%" aria-valuenow="30.43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  7
                </td>
                <td>
                  23
                </td>
                <td>
                  RM14780
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>ABC Network Sdn Bhd</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>12.90%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>

                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 12.90%" aria-valuenow="12.90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  4
                </td>
                <td>
                  31
                </td>
                <td>
                  RM4700
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>John Petrucci</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td> 
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>66.67%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 66.67%" aria-valuenow="66.67" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  4
                </td>
                <td>
                  6
                </td>
                <td>
                  RM3422
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
