<div class="animated fadeIn">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Change Agent</strong> 
        </div>
        <div class="card-block">
          <h3>Debt Information</h3>
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody> 
              <tr> 
                <td>Name</td>
                <td>John Doe</td> 
              </tr> 
              <tr> 
                <td>New IC No</td>
                <td>800809106471</td> 
              </tr>
              <tr> 
                <td>Old IC No</td>
                <td>-</td> 
              </tr> 

              <tr> 
                <td>Gender</td>
                <td>Male</td> 
              </tr> 
              <tr> 
                <td>Religion</td>
                <td>-</td> 
              </tr> 
              <tr> 
                <td>Address</td>
                <td>No 232, Jalan 3, Taman Putra Perdana, 34234 Puchong Selangor</td> 
              </tr> 
              <tr> 
                <td>Phone No</td>
                <td>03 5123 4567</td> 
              </tr> 
              <tr> 
                <td>Mobile No</td>
                <td>012 1234 567</td> 
              </tr> 
              <tr> 
                <td>Spouse</td>
                <td>Anne Lee</td> 
              </tr> 
              <tr> 
                <td>Spouse IC</td>
                <td>800102109089</td> 
              </tr>
              <tr> 
                <td>Spouse Phone No</td>
                <td>012 3456 789</td> 
              </tr> 

              <tr> 
                <td>Spouse Phone No</td>
                <td>012 3456 789</td> 
              </tr> 
              <tr> 
                <td>Outstanding Balance</td>
                <td>RM 1101</td> 
              </tr> 
              <tr> 
                <td>Interest</td>
                <td>RM 87</td> 
              </tr> 

              <tr> 
                <td>Charge</td>
                <td>RM 217</td> 
              </tr> 

              <tr> 
                <td>Total</td>
                <td>RM 1405</td> 
              </tr> 
              <tr> 
                <td>Current Agent</td>
                <td>ABC Sdn Bhd</td> 
              </tr>
              <tr> 
                <td>Assign Date</td>
                <td>23-02-2017</td> 
              </tr>
            </tbody>
          </table>  
          <!--/.row-->
          <div class="form-group"> 
            <label for="state">New Agent</label>
            <select class="form-control" id="state"> 
            <option value="1">XYZ Solutions Sdn Bhd</option>
            <option value="2">MMV Enterprise</option>
            <option value="3">Euro Power Sdn Bhd</option> 
            </select>
          </div> 

          <input type="submit" name="submit" class="btn btn-success btn-sm" value="Save">
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
   
</div>
