<style type="text/css">
  .breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.breadcrumb li.completed a {
    background: brown;
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a {
    background: #ffc107;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

</style>
<div class="animated fadeIn">
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['/components/editagent']">1. Company Information</a></li>
      <li class="completed"><a href="javascript:void(0);">2. PIC Information</a></li>
      <li><a [routerLink]="['/components/editagent3']">3. Head of Company Information</a></li>
    </ul>
    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Second Step</strong> 
        </div>
        <div class="card-block">
         

          <div class="form-group">
            <label for="pic">PIC</label>
            <input type="text" class="form-control" id="pic" value="PIC Name">
          </div>

          <div class="form-group">
            <label for="PICemail">PIC Email</label>
            <input type="email" class="form-control" id="PICemail" value="email@domain.com">
          </div>
          
          <div class="form-group">
            <label for="picphone">PIC Phone No</label>
            <input type="text" class="form-control" id="picphone" value="0123456789">
          </div>  

          <div class="form-group">
            <label for="username">Login Username</label>
            <input type="text" class="form-control" id="username" value="username">
          </div>
          
          <div class="form-group">
            <label for="password">Login Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <a class="btn btn-primary" [routerLink]="['/components/editagent3']">Next Step</a> 
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
   
</div>
