<div class="animated fadeIn">
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Vehicle
        </div>
        <div class="card-block">
        <form action="" method="post" class="form-horizontal ">
            <div class="form-group row">
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Reg. No">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Owner Name">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="NRIC">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Loan ID">
              </div> 
            </div>
            <div class="form-group row">
              <div class="col-3">
                <button type="submit" class="btn btn-sm btn-primary">Search</button>
              </div>
            </div>
            
          </form>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr> 
                <th>Reg. No</th>
                <th>Customer Name</th> 
                <th>Model</th>
                <th>Repo Status</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td>WRV5090</td>
                <td>John Doe</td> 
                <td>Proton Persona 1.6 A</td>
                <td>
                  <span class="badge badge-danger">-</span>
                </td>
              </tr> 
              <tr> 
                <td>BNT3090</td>
                <td>John Doe</td> 
                <td>Proton Waja 1.6 CPS</td>
                <td>
                  <span class="badge badge-danger">-</span>
                </td>
              </tr>  
              <tr> 
                <td>ABC9342</td>
                <td>John Doe</td> 
                <td>Proton Waja</td>
                <td>
                  <span class="badge badge-success">Repossessed</span>
                </td>
              </tr>  
              <tr> 
                <td>AKU8055</td>
                <td>Nurul Syafiqah Bte Hamid</td> 
                <td>Proton Satria Neo 1.6 M</td>
                <td>
                  <span class="badge badge-success">Repossessed</span>
                </td>
              </tr>  
              <tr> 
                <td>JRA9090</td>
                <td>Ahmad Nawab</td> 
                <td>Toyota Hilux 2.4</td>
                <td>
                  <span class="badge badge-danger">-</span>
                </td>
              </tr> 
            </tbody>
          </table>
          <br/>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
