 
<div class="animated fadeIn">

 

  <div class="row">
    
 
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>CIMB Bank Debt Parameter</strong> 
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            
            <tbody>
              <tr> 
                <th>Column No</th>
                <th>Parameter Value</th> 
              </tr> 
              <tr> 
                <td>1</td>
                <td>Customer Name</td> 
              </tr> 
              <tr> 
                <td>2</td>
                <td>Customer New IC</td> 
              </tr> 
              <tr> 
                <td>3</td>
                <td>Customer Old IC</td> 
              </tr> 
              <tr> 
                <td>4</td>
                <td>Customer Home Phone No</td> 
              </tr> 
              <tr> 
                <td>5</td>
                <td>Customer Agreement ID</td> 
              </tr> 
              <tr> 
                <td>6</td>
                <td>Debt OSB</td> 
              </tr> 
              <tr> 
                <td>7</td>
                <td>Debt LPC</td> 
              </tr> 
              <tr> 
                <td>8</td>
                <td>Vehicle Reg No</td> 
              </tr>  
              <tr> 
                <td>9</td>
                <td>Vehicle Model</td> 
              </tr>  
                
            </tbody>
          </table> 
           
          

          </div>
        
          
 
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
   
 
