<div class="animated fadeIn">

<div class="row">
  <div class="col-md-12 mb-2"> 
    <a class="btn btn-secondary" [routerLink]="['/components/editagent']"><i class="fa fa-pencil"></i> Edit</a>
    <a class="btn btn-primary" [routerLink]="['/components/viewagentperformance/2']"><i class="fa fa-line-chart"></i> View Performance</a>
    <a class="btn btn-success" [routerLink]="['/components/debts']"><i class="fa fa-table"></i> View Assignment</a>
  </div>

  <div class="col-md-12 mb-2">
  <h3>ABC Sdn Bhd</h3>
    <!-- Nav tabs -->
    <tabset>
      <tab>
        <template tabHeading><i class="fa fa-info-circle"></i> Company Info</template>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            ABC Sdn Bhd
          </div>
          <hr/>
          ROC ID: H870989<br/>
          <hr/>
          <div class="profile-usertitle-job">
            No 13, Taman Teknologi,<br/>
            53342, Petaling Jaya,<br/>
            Selangor<br/>
          </div>
          <hr/>
          Phone: 03 2122 2989<br/>
          <hr/>
          Fax: 03 2122 298<br/>
          <hr/>
          Email: email@domain.com<br/> 
          <hr/>
          GST ID: 0023435564<br/>
          <hr/>
          Created: 05 Feb 2017<br/>
          <hr/>
          Status: <span class="badge badge-success">Active</span> since 08 Feb 2017<br/>
        </div>
      </tab>
      <tab>
        <template tabHeading><i class="fa fa-user"></i> PIC Info</template>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Nurul Ain Binti Abd Ghani
          </div>
          <hr/> 
          Contact No: 013 2122 298<br/>
          <hr/>
          Email: email@domain.com<br/>
          
           
        </div>
      </tab>
      <tab>
        <template tabHeading><i class="fa fa-briefcase"></i> Head of Company Info</template>
        <div class="profile-usertitle-name">
            CEO Name: Bryan Adam
          </div>
          <hr/> 
          Contact No: 013 2122 298<br/>
          <hr/>
          Email: email@domain.com<br/>
      </tab>
    </tabset>
  </div><!--/.col-->

 
    <!--/.col-->
  </div>
  <!--/.row-->


   
</div> 
