<style type="text/css">
  #video-background { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width:100%;
}
.app, app-dashboard, app-root {
  background: rgba(0, 0, 0, 0.61);
}
</style>

<div class="app flex-row align-items-center">
<video id="video-background" preload="" muted="" autoplay="" loop="">
    <source src="assets/video/awesome.mp4" type="video/mp4"> 
  </video>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="text-center">
            <img src="assets/img/collectiusLogo.png" width="270px">
            </div>
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <form name="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" /> 
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"/>
             
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
            
            <a [routerLink]="['/pages/register']" class="btn btn-link">Register</a>

            <a [routerLink]="['/dashboard']" class="btn btn-link">Dashboard</a>
        </div>
    </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

 